{% extends 'main.html' %}

{% block content %}
<h2>Code Categories</h2>

<!-- Form to Add a New Code Category -->
<form method="POST" action="{{ url_for('code_categories') }}">
    <label for="category_name">Category Name:</label><br>
    <input type="text" id="category_name" name="category_name"><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br><br>
    <input type="submit" value="Add Code Category">
</form>

<!-- Button to View/Reload the Code Categories List -->
<form method="GET" action="{{ url_for('code_categories') }}">
    <input type="submit" value="조회">
</form>

<h3>Category List</h3>
<ul>
    {% for category in categories %}
    <li>
        <strong>{{ category.category_name }}</strong> - {{ category.description }}
        
    </li>
    {% endfor %}
</ul>
{% endblock %}
